:host {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  mat-card {
    border-radius: 16px;

    mat-card-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      h2 {
        fa-icon {
          margin-right: 16px;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 8px;

        span {
          width: 25%;

          @media screen and (max-width: 1200px) {
            width: 50%;
          }

          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }
  }
}
