<mat-list role="list">
  <mat-list-item class="logo" [routerLink]="['/']">
    <fa-icon [icon]="logo"></fa-icon>
  </mat-list-item>
  <div mat-subheader>Magias</div>

  <mat-list-item [routerLink]="['/']">
    <mat-icon mat-list-icon><fa-icon [icon]="logo"></fa-icon></mat-icon>
    <div mat-line> Todas </div>
  </mat-list-item>

  <div mat-subheader>Minha conta</div>

  <mat-list-item [routerLink]="['/matheus']">
    <mat-icon mat-list-icon ><fa-icon [icon]="logo"></fa-icon></mat-icon>
    <div mat-line> Matheus </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon><fa-icon [icon]="logo"></fa-icon></mat-icon>
    <div mat-line> Grimórios </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon><fa-icon [icon]="logo"></fa-icon></mat-icon>
    <div mat-line> Config </div>
  </mat-list-item>

</mat-list>