:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  app-hotbar {
    height: 100vh;
  }
  
  mat-sidenav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #42434F;
    
    mat-sidenav-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-toolbar {
        width: 100%;
        display: flex;
        background-color: #42434F;
        min-height: 64px !important;
      }

      main {
        width: calc(100% - 32px);
        margin: 32px 0px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 16px;
      }
    }
    
    mat-sidenav {
      padding: 16px;
      min-width: 245px;

      background-color: #2E2F3C;
    }
  }
}

.open { margin-left: 32px !important; }