<app-hotbar [hidden]="(isHandset$ | async) ? false : true"></app-hotbar>

<mat-sidenav-container>
  <mat-sidenav
    [mode]="(isHandset$ | async) ? 'side' : 'over'"
    [opened]="opened$ | async">
    <mat-list role="list">
      <div class="subheader" mat-subheader>Personagens</div>
      <ng-container *ngFor="let item of menuItems">
        <mat-list-item [routerLink]="['/']">
          <mat-icon mat-list-icon>
            <fa-icon [icon]="item.icon"></fa-icon>
          </mat-icon>
          <div mat-line>{{ item.name }}</div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SpellBook</span>
      <span class="flex-spacer"></span>
      <button mat-icon-button>
        <mat-icon>book</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <main class="mat-elevation-z2">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
