:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  mat-sidenav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    mat-sidenav-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-toolbar {
        width: 100%;
        display: flex;
        background-color: #303030;
        min-height: 64px !important;
      }

      main {
        width: calc(100% - 32px);
        margin: 32px 0px;
        background-color: #424242;
        border-radius: 16px;
      }
    }
    
    mat-sidenav {
      padding: 16px;
      width: 20%;
      min-width: 300px;
    }
  }
}

.open { margin-left: 32px !important; }