:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  
  mat-progress-bar {
    margin: 0px 0px 16px 0px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;

    h1 {
      margin-bottom: 0;
    }

    .search {
      display: flex;
      align-items: stretch;
      gap: 16px;
      mat-form-field {
        flex: auto;
      }
      button {
        padding: 0px 16px;
        height: 54px;
        border-radius: 27px;
      }
    }
  }
  mat-list {
    display: flex;
    flex-direction: column;
    flex: 1;

    .subheader {
      width: 100%;
      background-color: rgba(0,0,0,0.10);
    }

    mat-list-item {
      border-bottom: 1px solid rgba(0,0,0,0.10);
      width: 100%;
    }
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background: linear-gradient(115.81deg, #A73EE7 23.92%, #00EBFF 73.05%);
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: rgba(0,0,0,0.10);
  }

  ::ng-deep .mat-progress-bar-background {
    fill: rgba(0,0,0,0);
  }

  ::ng-deep .mat-progress-bar {
      border-radius: 2px;
  }
}