<div class="title">
  <div class="text">
    <h1>Spells</h1>
  </div>

  <button mat-icon-button><mat-icon>add</mat-icon></button>
</div>

<div *ngIf="!((spellList$ | async)?.count == 0); then list; else loading">
  here is ignored
</div>

<ng-template #list>
  <mat-list>
    <mat-list-item *ngFor="let item of (spellList$ | async)?.data" matRipple>
      <div mat-list-icon>
        <app-icon [element]="item.damage"></app-icon>
      </div>
      <div mat-line>{{ item.name }}</div>
      <div mat-line>{{ item.duration }}</div>
    </mat-list-item>
  </mat-list>

  <app-dice></app-dice>
</ng-template>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
