<div class="title">
  <div class="text">
    <h1>Spells</h1>
    <span>99 spells</span>
  </div>

  <div class="search">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle #level value="level" (click)="filter = level.value">
        level
      </mat-button-toggle>
      <mat-button-toggle
        #alphabetic
        value="alphabetic"
        (click)="filter = alphabetic.value">
        alphabetic
      </mat-button-toggle>
      <mat-button-toggle
        #element
        value="element"
        (click)="filter = element.value">
        element
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div *ngIf="hasLoaded(spellList$ | async); then list; else loading">
  here is ignored
</div>

<ng-template #list>
  <mat-list
    *ngFor="
      let item of iterableDictionary(spellList$ | async | groupBy: filter)
    ">
    <mat-toolbar color="accent" mat-subheader>
      {{ item.key | iscantrip | uppercase }}
    </mat-toolbar>
    <mat-list-item *ngFor="let spell of item.data" matRipple>
      <div mat-list-icon>
        <app-icon [element]="spell.type"></app-icon>
      </div>
      <div mat-line>{{ spell.name }}</div>
      <div mat-line>{{ spell.duration }}</div>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
