mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav { 
    width: 15vw !important; 
    min-width: 190px; 
  }

  mat-sidenav-content {
    main {
      padding: 32px;
    }
  }
}