<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SpellBook</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button>
    <mat-icon>book</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [mode]="'side'" [opened]="opened$ | async">
    <mat-list role="list">
      <div class="subheader" mat-subheader>Magias</div>
      <mat-list-item [routerLink]="['/']">
        <mat-icon mat-list-icon><fa-icon [icon]="logo"></fa-icon></mat-icon>
        <div mat-line>Todas</div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card [class.open]="opened$ | async">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
