:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  mat-sidenav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 32px;
    
    mat-sidenav {
      margin: 32px 0px;
      padding: 16px;
      width: 20%;
      min-width: 220px;
      border-radius: 16px;
    }

    mat-sidenav-content {
      display: flex;
      width: 100%;

      mat-card {
        width: 100%;
        border-radius: 16px;
        padding: 16px;
      }
    }
  }
}

.open {margin-left: 32px !important;}