:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  mat-sidenav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    mat-sidenav {
      padding: 16px;
      width: 20%;
      min-width: 300px;
    }
  }
}

.open { margin-left: 32px !important; }