:host {
  height: 100%;

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 80px;
    row-gap: 16px;
    height: 100%;
    padding-top: 16px;

    background-color: #2A2B34;

    app-logo {
      svg {
        stroke: rgb(255, 255, 255, 0.5);
      }
    }

    button {
      width: 48px;
      height: 48px;
      line-height: 48px;
      background-color: rgba(0, 0, 0, 0.2);

      mat-icon{ 
        color: rgb(255, 255, 255, 0.5);
      }
    }
  }
}