<div class="search-box">
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Search spells..." />
    <span matPrefix>
      <mat-icon>search</mat-icon>
    </span>
  </mat-form-field>

  <button mat-raised-button color="accent">
    <mat-icon>add</mat-icon>
    Adicionar Magia
  </button>
</div>

<mat-list>
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>
