$dark-text: #1B1F3B;
$light-text: #F7F7FF;

$spellbook-light-primary: (
  50:  #eaeafc,
  100: #c9caf6,
  200: #a4a7f0,
  300: #7e84ea,
  400: #6167e5,
  500: #454ade,
  600: #4041d3,
  700: #3736c6,
  800: #2e2abb,
  900: #1e0da9,
  A100: #c9caf6,
  A200: #a4a7f0,
  A400: #6167e5,
  A700: #3736c6,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

$spellbook-light-accent: (
  50:  #fff3e1,
  100: #ffdfb4,
  200: #ffcb83,
  300: #ffb552,
  400: #ffa530,
  500: #fe9619,
  600: #fa8b17,
  700: #f47b16,
  800: #ed6b15,
  900: #e45112,
  A100: #ffdfb4,
  A200: #ffcb83,
  A400: #ffa530,
  A700: #f47b16,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

$spellbook-light-warn: (
  50:  #ffe9ed,
  100: #ffc9cf,
  200: #f79293,
  300: #ef6569,
  400: #f93943,
  500: #fe1423,
  600: #ef0024,
  700: #dd001e,
  800: #d10016,
  900: #c10008,
  A100: #ffc9cf,
  A200: #f79293,
  A400: #f93943,
  A700: #dd001e,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);