$dark-text:  #18181b; 
$light-text: #fafafa;

$spellbook-light-primary: (
  50:   #f0f9ff,
  100:  #e0f2fe,
  200:  #bae6fd,
  300:  #7dd3fc,
  400:  #38bdf8,
  500:  #0ea5e9,
  600:  #0284c7,
  700:  #0369a1,
  800:  #075985,
  900:  #0c4a6e,
  A100: #e0f2fe,
  A200: #bae6fd,
  A400: #38bdf8,
  A700: #0369a1,
  contrast: (
    50:   $dark-text,
    100:  $dark-text,
    200:  $dark-text,
    300:  $dark-text,
    400:  $dark-text,
    500:  $light-text,
    600:  $light-text,
    700:  $light-text,
    800:  $light-text,
    900:  $light-text,
    A100: $dark-text,
    A200: $dark-text,
    A400: $dark-text,
    A700: $light-text,
  ),
);

$spellbook-light-accent: (
  50:   #fdf2f8,
  100:  #fce7f3,
  200:  #fbcfe8,
  300:  #f9a8d4,
  400:  #f472b6,
  500:  #ec4899,
  600:  #db2777,
  700:  #be185d,
  800:  #9d174d,
  900:  #831843,
  A100: #fce7f3,
  A200: #fbcfe8,
  A400: #f472b6,
  A700: #be185d,
  contrast: (
    50:   $dark-text,
    100:  $dark-text,
    200:  $dark-text,
    300:  $dark-text,
    400:  $dark-text,
    500:  $light-text,
    600:  $light-text,
    700:  $light-text,
    800:  $light-text,
    900:  $light-text,
    A100: $dark-text,
    A200: $dark-text,
    A400: $dark-text,
    A700: $light-text,
  ),
);

$spellbook-light-warn: (
  50:   #fff1f2,
  100:  #ffe4e6,
  200:  #fecdd3,
  300:  #fda4af,
  400:  #fb7185,
  500:  #f43f5e,
  600:  #e11d48,
  700:  #be123c,
  800:  #9f1239,
  900:  #881337,
  A100: #ffe4e6,
  A200: #f79293,
  A400: #fb7185,
  A700: #be123c,
  contrast: (
    50:   $dark-text,
    100:  $dark-text,
    200:  $dark-text,
    300:  $dark-text,
    400:  $dark-text,
    500:  $light-text,
    600:  $light-text,
    700:  $light-text,
    800:  $light-text,
    900:  $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  ),
);
