$text-default:  #101a3a; 
$text-highlight: #fafafa;

$spellbook-primary: (
  50:   #e2f2fe,
  100:  #baddfd,
  200:  #8dc8fd,
  300:  #5db2fb,
  400:  #36a2fb,
  500:  #0092fa,
  600:  #0884ec,
  700:  #0a72d8,
  800:  #0b60c6,
  900:  #0942a7,
  A100: #baddfd,
  A200: #8dc8fd,
  A400: #36a2fb,
  A700: #0a72d8,
  contrast: (
    50:   $text-default,
    100:  $text-default,
    200:  $text-default,
    300:  $text-default,
    400:  $text-default,
    500:  $text-highlight,
    600:  $text-highlight,
    700:  $text-highlight,
    800:  $text-highlight,
    900:  $text-highlight,
    A100: $text-default,
    A200: $text-default,
    A400: $text-default,
    A700: $text-highlight,
  ),
);

$spellbook-accent: (
  50:   #f4fde6,
  100:  #e3f9c1,
  200:  #d0f697,
  300:  #bef26a,
  400:  #afee43,
  500:  #a2ea06,
  600:  #99d700,
  700:  #8cc000,
  800:  #7fa900,
  900:  #6b8100,
  A100: #e3f9c1,
  A200: #d0f697,
  A400: #afee43,
  A700: #8cc000,
  contrast: (
    50:   $text-default,
    100:  $text-default,
    200:  $text-default,
    300:  $text-default,
    400:  $text-default,
    500:  $text-highlight,
    600:  $text-highlight,
    700:  $text-highlight,
    800:  $text-highlight,
    900:  $text-highlight,
    A100: $text-default,
    A200: $text-default,
    A400: $text-default,
    A700: $text-highlight,
  ),
);

$spellbook-warn: (
  50:   #fff1f2,
  100:  #ffe4e6,
  200:  #fecdd3,
  300:  #fda4af,
  400:  #fb7185,
  500:  #f43f5e,
  600:  #e11d48,
  700:  #be123c,
  800:  #9f1239,
  900:  #881337,
  A100: #ffe4e6,
  A200: #f79293,
  A400: #fb7185,
  A700: #be123c,
  contrast: (
    50:   $text-default,
    100:  $text-default,
    200:  $text-default,
    300:  $text-default,
    400:  $text-default,
    500:  $text-highlight,
    600:  $text-highlight,
    700:  $text-highlight,
    800:  $text-highlight,
    900:  $text-highlight,
    A100: $text-default,
    A200: $text-highlight,
    A400: $text-highlight,
    A700: $text-highlight,
  ),
);
