// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "light/colors";

$spellbook-primary: mat.define-palette($spellbook-light-primary);
$spellbook-accent: mat.define-palette($spellbook-light-accent);
$spellbook-warn: mat.define-palette($spellbook-light-warn);

$spellbook-theme: mat.define-light-theme(
  (
    color: (
      primary: $spellbook-primary,
      accent: $spellbook-accent,
      warn: $spellbook-warn,
    ),
  )
);

@include mat.all-component-themes($spellbook-theme);
